@model TokoBuku.Models.Buku

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Buku</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Judul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Judul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penerbit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penerbit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deskripsi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deskripsi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Harga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Harga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByNavigation.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KodeBuku">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
