@model IEnumerable<TokoBuku.Models.Buku>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Judul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Penerbit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deskripsi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Harga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Judul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Penerbit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deskripsi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Harga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByNavigation.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KodeBuku">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KodeBuku">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KodeBuku">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
